@import './app.css';

@font-face {
  font-family: 'robbold';
  src: url(../fonts/Roboto-SemiBold.ttf);
}

.cvSide {
  padding: 2em 3em;
  background-color: var(--bg-main);
  flex: 1;
}

.cv {
  background-color: var(--cv-bg);
  max-width: 70em;
  min-width: 60em;
  min-height: 38em;
  padding: 2em;
}

.cvTitle {
  text-align: center;
}

.pTitle,
.objTitle,
.edTitle,
.expTitle {
  border-bottom: solid 1px black;
}

.pData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pwrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgPlaceholder {
  width: 12em;
  height: 12em;
  border-radius: 10px;
  display: grid;
  place-content: center;
  user-select: none;
  overflow: hidden;
}

p {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ctitle {
  font-size: 1.15em;
}

.targets {
  font-family: 'robbold';
}
