@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  font-family: 'roboto';
}

.infosCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1em 2em;
  border: solid 1px black;
}

.generalInfos,
.objective,
.education,
.skills,
.profileImg,
.exportCv {
  display: grid;
  grid-template-rows: repeat(4, 3em);
  gap: 1em;
  max-width: 15em;
  background-color: aqua;
  padding: 0.5em 3em;
}

.hidden {
  display: none;
}

.user {
  display: flex;
  flex-direction: column;
}

input {
  width: 17em;
}
